 <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">letsMapIt</a>
        </div>
      </div>
    </nav>
<div class="">
  <div class="row">
    <div class="col-md-12">
      <div class="map">
          <sebm-google-map [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false" [latitude]="lat" [longitude]="lng" (mapClick)="mapClicked($event)">
            <sebm-google-map-marker *ngFor="let m of markers;let i = index" (markerClick)="clickedMarker(m, i)" [latitude]="m.lat" [markerDraggable]="m.draggable"  (dragEnd)="markerDragEnd(m, $event)" [longitude]="m.lng">
            </sebm-google-map-marker>
              <sebm-google-map-info-window>
                <strong>{{m.name}}</strong>
              </sebm-google-map-info-window>
          </sebm-google-map>
      </div>
    </div>
  </div>
</div>


